body
{
    background: url('timetable.jpg');
    background-size: cover;
}
.div1
{
    background:transparent;
    backdrop-filter: blur(20px);
    height: 400px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    flex-direction: column;
    border-radius: 10px;
}
.add-text
{
    font-size: 30px;
    font-weight: bold;
}
.add-button
{
    background-color: black;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    border-style: solid;
    height: 37px;
    width: 59px;
    transition: transform 0.3s ease;
}
.time-text
{
    font-size: 30px;
    font-weight: bold;
}
.time-button
{
    
    background-color: black;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    border-style: solid;
    height: 37px;
    width: 59px;
    transition: transform 0.3s ease;
}

.time-button:hover, .add-button:hover{
    transform: scale(1.1);
    background-color: rgba(214, 155, 44, 0.831)
}