body
{
    background: url('timetable.jpg') no-repeat;
    background-size: cover;
    font-size: 17px;

}
button {
    width: 80px;
    height: 50px;
    font-size: 17px;
    border-radius: 8px;
}
.div1
{
    background:transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-color: black;
    backdrop-filter: blur(20px);
    height: 400px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    flex-direction: column;
    border-radius: 5px;
    font-size: 20px;
}
.name-div
{
    margin-bottom: 27px;
}
.button-div
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-right: 20px;
}


.year-div
{
    display: inline-block;
    vertical-align: top;
}
.dept-div
{
    display: inline-block;
    padding-left: 45px;
}

.button
{
    background-color: black;
    color: white;
    cursor: pointer;
    border-style: solid;

}
.back-button {
    display: block;
    margin: 20px auto 0 auto; 
}
.add-button
{
    display: block;
    margin: 20px auto 0 auto; 

}
