body{
    background: url('timetable.jpg');
    background-size: cover;
    font-size: 17px;

}
button {
    width: 80px;
    height: 50px;
    font-size: 17px;
    border-radius: 8px;
}
.div1
{
    background:transparent;
    backdrop-filter: blur(20px);
    height: 500px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    flex-direction: column;
}
.add-text
{
    font-size: 30px;
    font-weight: bold;
    
}
.button
{
    background-color: black;
    color: white;
    cursor: pointer;
    border-style: solid;
}
.add-button
{
   
    margin-top: 5px;
}
.time-text
{
    font-size: 30px;
    font-weight: bold;
}
.time-button
{
    margin-top: 20px;
}
.filter-button
{
    background-color: black;
    color: white;
    cursor: pointer;
    border-style: solid;
    margin-bottom: 15px;
}