<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="task1.css"> -->
</head>
<body>
    <div>
        <form method="post">
            <div>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name">
            </div>
            <div>
                <label for="year_tag">Year Tag:</label>
                <input type="radio" id="junior" name="year_tag" value="junior">
                <label for="junior">Junior</label><br> 
                <input type="radio" id="senior" name="year_tag" value="senior">
                <label for="senior">Senior</label><br> 
            </div>
            <div>
                <label for="dept">Department Tags:</label>
                <input type="radio" id="coding" name="dept" value="coding">
                <label for="coding">Coding</label><br> 
                <input type="radio" id="elex" name="dept" value="elex">
                <label for="elex">Elex</label><br>
                <input type="radio" id="mech" name="dept" value="mech">
                <label for="mech">Mech</label><br>
                <input type="radio" id="marketing" name="dept" value="marketing">
                <label for="marketing">Marketing</label><br>
            </div>
            <div>
                <button type="submit" class="add-button">Add</button>
            </div>
        </form>
    </div>
</body>
</html>