<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Optimal Time Finder</title>
    <link rel="stylesheet" href="static\task1.css">
    <link rel="icon" href="http://127.0.0.1:5501/into-to-html/task1.html/search.png">
</head>
<body>
    <div class="div1">
            <p class="add-text">Add student</p>
            <a href="{{ url_for('add_student') }}"><button class="button add2-button">Add student</button></a>
            <p class="time-text">Find optimal time</p>
            <a href="{{ url_for('filter') }}"><button class="button time-button" >Add filters</button></a>
            {% if results %}
            <table border="1">
                <thead>
                    <tr> 
                    <th></th>
                    <th>Name</th>
                    <th>Year Tag</th>
                    <th>Department</th>
                    <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for result in results %}
                <tr>
                    <td>{{ loop.index }}</td> 
                    <td>{{ result.name }}</td>
                    <td>{{ result.tag }}</td>
                    <td>{{ result.dept }}</td>
                   <td>
                    <form method="POST" action="{{ url_for('remove') }}">
                        <input type="hidden" name="id" value="{{ result.id }}">
                        <button class="add-button">Remove</button>
                    </form>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <form method="POST" action="{{ url_for('find_optimal') }}" id="find-optimal-form">
                {% for result in results %}
                    <input type="hidden" name="student_ids" value="{{ result.id }}">
                {% endfor %}
                <button type="submit" class="time-button">Find Optimal Time</button>
            </form>
           {% endif %}
           {% if optimal_time %}
    <h3>Most Optimal Times to Conduct a Meeting</h3>
    <ul>
        {% for day, times in optimal_time.items() %}
            <li>
                <strong>{{ day }}:</strong>
                {% if times %}
                    {{ times | join(', ') }}
                {% else %}
                    No optimal time available
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}

    </div>
</body>
</html>
